/* фон footer #2F303A; */

body {
  background-color: #e5e5e5;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --dark-bg: #2f303a;
}
/* header+footer */
.logo,
.link-nav:hover,
.link-nav:focus,
.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);
}

.logo-header {
  color: black;
}

.logo-footer,
.link-contact,
.contact {
  color: var(--white);
}

.link-nav {
  color: var(--title-text-color);
}

.link-contact {
  color: rgba(255, 255, 255, 0.6);
}

/* examples+filters */
.title,
.filters {
  color: var(--title-text-color);
}

.list {
  color: var(--primary-text-color);
}

.filter-bg {
  background-color: var(--accent-color);
}
